Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Retry with internal records
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

What's in a dot
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Basic tests
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

[ts] spacing?
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Add rolling update strategy for unbound
  kubernetes/apps/network/unbound/app/helmrelease.yaml
Labels: area/kubernetes

Revert for now
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Test rolling update
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Add healthcheck for deployment
  kubernetes/apps/network/unbound/app/resources/a-records.conf
  kubernetes/apps/network/unbound/ks.yaml
Labels: area/kubernetes

Trigger failed deployment
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Test with suspend
  kubernetes/apps/network/unbound/app/resources/a-records.conf
  kubernetes/apps/network/unbound/ks.yaml
Labels: area/kubernetes

Check if helm release now fails with suspend
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Still doesn't work...
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Fix healthcheck issue
  kubernetes/apps/network/unbound/app/resources/a-records.conf
  kubernetes/apps/network/unbound/ks.yaml
Labels: area/kubernetes

K8s now longer in reconcil - looks good. Old pod still gets killed. Setting maxUnavailable now
  kubernetes/apps/network/unbound/app/helmrelease.yaml
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Test if deployment now fails and healthy pod stays alive
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Still doesn't work - healthy pod gets evicted while the other is unavailable
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Add TCP probe for unbound
  kubernetes/apps/network/unbound/app/helmrelease.yaml
Labels: area/kubernetes

Test now that probes have been defined
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

It works! Probes are required
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Add TCP probe for Adguard too + dependency on Unbound
  kubernetes/apps/network/adguard/app/helmrelease.yaml
  kubernetes/apps/network/adguard/ks.yaml
Labels: area/kubernetes

Add datree repo
  kubernetes/flux/repositories/helm/datree.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Datree is EOL - migrating to Kyverno
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

Add Kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/require-probes.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

Convert to prefix ingress for security reasons
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

Add myself to LICENSE
  LICENSE
Labels: none

Add deny-ingress-implentationspecific policy
  kubernetes/apps/kyverno/kyverno/policies/deny-ingress-implementationspecific.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

Add policy-reporter charts
  kubernetes/flux/repositories/helm/policy-reporter.yaml
Labels: area/kubernetes

Add Kyverno reporter charts
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno-reporter.yaml
Labels: area/kubernetes

Add Kyverno policy reporter
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
  kubernetes/apps/kyverno/kyverno/reporter/kustomization.yaml
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix naming
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
Labels: area/kubernetes

Set ingress on different level
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
Labels: area/kubernetes

Remove commented values
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
Labels: area/kubernetes

Add podselector
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
Labels: area/kubernetes

Fix typo
  kubernetes/apps/kyverno/kyverno/reporter/helm-release.yaml
Labels: area/kubernetes

Add Kyverno baseline
  kubernetes/apps/kyverno/kyverno/policies/baseline-latest.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

Require image checksums
  kubernetes/apps/kyverno/kyverno/policies/deny-ingress-implementationspecific.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/require-image-checksum.yaml
  kubernetes/apps/kyverno/kyverno/policies/require-probes.yaml
Labels: area/kubernetes
