Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

Add ansible role install task
  .taskfiles/Docker/Taskfile.yaml
Labels: area/taskfile

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Use Jeff G. docker role
  docker/ansible/inventory/hosts.yaml
  docker/ansible/playbooks/new-docker-server.old.yaml
  docker/ansible/requirements.yml
  docker/ansible/tasks/update-os.yaml
Labels: area/docker

Check if output is generated
  docker/ansible/tasks/update-dotfiles.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update homepage to v1.2.0
  docker/ansible/templates/compose-modules/homepage.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix allowed hosts
  docker/ansible/templates/compose-modules/homepage.yml
Labels: area/docker

Add NAS link
  docker/ansible/templates/data/common/homepage/bookmarks.yaml.j2
Labels: area/docker

Convert lab service bookmarks to services
  docker/ansible/templates/data/common/homepage/bookmarks.yaml.j2
  docker/ansible/templates/data/common/homepage/services.yaml
Labels: area/docker

Rename category
  docker/ansible/templates/data/common/homepage/services.yaml
Labels: area/docker

Add sitemonitor for homepage services
  docker/ansible/templates/data/common/homepage/services.yaml
Labels: area/docker

Only add sitemonitoring if internal
  docker/ansible/templates/data/common/homepage/services.yaml
Labels: area/docker

Convert to jinja
  docker/ansible/templates/data/common/homepage/services.yaml.j2
Labels: area/docker

Add Docker info to README
  README.md
Labels: none

Phase out lobechat
  .archive/docker/ansible/templates/compose-modules/lobe-chat.yml
  docker/ansible/templates/compose/compose.yml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Deprecate SVLPROD and SVLDOCK
  docker/ansible/inventory/hosts.yaml
Labels: area/docker

Rename NAS DNS
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Create media server + move DNS config to task file
  docker/ansible/inventory/hosts.yaml
  docker/ansible/playbooks/new-docker-server.yaml
  docker/ansible/tasks/configure-dns-server.yaml
Labels: area/docker

Force cache refresh
  docker/ansible/tasks/new-server.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add media credentials
  docker/ansible/inventory/group_vars/media/secrets.sops.yml
  docker/ansible/tasks/load-credentials.yaml
Labels: area/docker

Auto create compose dir
  docker/ansible/playbooks/new-docker-server.yaml
Labels: area/docker

Add DNS records for media
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Add SMB share mount tasks
  docker/ansible/inventory/group_vars/media/secrets.sops.yml
  docker/ansible/playbooks/update-docker.yaml
  docker/ansible/tasks/mount-smb-shares.yaml
Labels: area/docker

Add metube
  docker/ansible/templates/compose-modules/metube.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Remove pub host url
  docker/ansible/templates/compose-modules/metube.yml
Labels: area/docker

Add tubesync
  docker/ansible/templates/compose-modules/metube.yml
  docker/ansible/templates/compose-modules/tubesync.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add apps server
  docker/ansible/inventory/group_vars/all/secrets.sops.yml
  docker/ansible/inventory/group_vars/apps/secrets.sops.yml
  docker/ansible/inventory/group_vars/media/secrets.sops.yml
  docker/ansible/inventory/hosts.yaml
  docker/ansible/playbooks/new-docker-server.yaml
  docker/ansible/tasks/load-credentials.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Fix copy mistake
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Add Plex to apps server
  docker/ansible/tasks/mount-smb-shares.yaml
  docker/ansible/templates/compose-modules/plex.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
  docker/ansible/templates/env/env.j2
Labels: area/docker

Fix plex docker config
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
  docker/ansible/templates/compose-modules/plex.yml
Labels: area/docker

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
