Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Add gatus probe for Kyverno
  kubernetes/apps/kyverno/kyverno/reporter/kustomization.yaml
Labels: area/kubernetes

Deprecate portainer
  docker/ansible/templates/compose-modules/portainer.yml
  docker/ansible/templates/compose/compose.yml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Deprecate services + remove server
  docker/ansible/inventory/hosts.yaml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
Labels: area/docker

Migrate to new AOI instance
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
Labels: area/docker

Phase out Wallabag
  docker/ansible/templates/compose-modules/wallabag.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Rename homepage to apps
  docker/ansible/templates/compose-modules/homepage.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Deprecate Linkding & Papermerge
  docker/ansible/templates/compose-modules/linkding.yml
  docker/ansible/templates/compose-modules/papermerge.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Retire change detection
  docker/ansible/templates/compose-modules/change-detection.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Move speedtest & comment out unused containers
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Change DNS record n8n
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Fix var
  docker/ansible/templates/env/env.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Gather frontend networks during Ansible playbook
  docker/ansible/playbooks/update-docker.yaml
  docker/ansible/tasks/gather-frontend-networks.yaml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Dynamically add frontend networks to Traefik j2 template
  docker/ansible/templates/compose-modules/traefik-proxy.yml.j2
Labels: area/docker

Introduce network segregation for docker containers
  docker/ansible/tasks/gather-frontend-networks.yaml
  docker/ansible/templates/compose-modules/adguard.yml
  docker/ansible/templates/compose-modules/authelia.yml
  docker/ansible/templates/compose-modules/bitwarden.yml
  docker/ansible/templates/compose-modules/code-server.yml
  docker/ansible/templates/compose-modules/cyberchef.yml
  docker/ansible/templates/compose-modules/dozzle.yml
  docker/ansible/templates/compose-modules/drawio.yml
  docker/ansible/templates/compose-modules/echo-server.yml
  docker/ansible/templates/compose-modules/excalidraw.yml
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/home-assistant.yml
  docker/ansible/templates/compose-modules/homepage.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/it-tools.yml
  docker/ansible/templates/compose-modules/lobe-chat.yml
  docker/ansible/templates/compose-modules/n8n.yml
  docker/ansible/templates/compose-modules/nextcloud.yml
  docker/ansible/templates/compose-modules/oauth2-proxy.yml
  docker/ansible/templates/compose-modules/openspeedtest.yml
  docker/ansible/templates/compose-modules/outline.yml
  docker/ansible/templates/compose-modules/paperless-ngx.yml
  docker/ansible/templates/compose-modules/phpmyadmin.yml
  docker/ansible/templates/compose-modules/plex.yml
  docker/ansible/templates/compose-modules/prometheus.yml
  docker/ansible/templates/compose-modules/traefik-forward-auth.yml
  docker/ansible/templates/compose-modules/traefik-proxy.yml.j2
  docker/ansible/templates/compose-modules/unifi.yml
  docker/ansible/templates/compose-modules/vault.yml
  docker/ansible/templates/compose-modules/whoogle.yml
  docker/ansible/templates/compose-modules/wireguard.yml
  docker/ansible/templates/data/common/traefik/traefik.yml.j2
  docker/ansible/templates/etc/docker/daemon.json
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Move archived compose files to archive folder
  .archive/docker/ansible/templates/compose-modules/alertmanager.yml
  .archive/docker/ansible/templates/compose-modules/authelia.yml
  .archive/docker/ansible/templates/compose-modules/cadvisor.yml
  .archive/docker/ansible/templates/compose-modules/change-detection.yml
  .archive/docker/ansible/templates/compose-modules/cloudflare-companion.yml
  .archive/docker/ansible/templates/compose-modules/grafana.yml
  .archive/docker/ansible/templates/compose-modules/influxdb.yml
  .archive/docker/ansible/templates/compose-modules/jupyter.yml
  .archive/docker/ansible/templates/compose-modules/linkding.yml
  .archive/docker/ansible/templates/compose-modules/mailrise.yml
  .archive/docker/ansible/templates/compose-modules/nodeexporter.yml
  .archive/docker/ansible/templates/compose-modules/oauth2-proxy.yml
  .archive/docker/ansible/templates/compose-modules/outline.yml
  .archive/docker/ansible/templates/compose-modules/paperless-ngx.yml
  .archive/docker/ansible/templates/compose-modules/papermerge.yml
  .archive/docker/ansible/templates/compose-modules/photoprism.yml
  .archive/docker/ansible/templates/compose-modules/portainer.yml
  .archive/docker/ansible/templates/compose-modules/prometheus.yml
  .archive/docker/ansible/templates/compose-modules/promtail.yml
  .archive/docker/ansible/templates/compose-modules/samba.yml
  .archive/docker/ansible/templates/compose-modules/traefik-certs-dumper.yml
  .archive/docker/ansible/templates/compose-modules/uptime-kuma.yml
  .archive/docker/ansible/templates/compose-modules/vault.yml
  .archive/docker/ansible/templates/compose-modules/vikunja.yml
  .archive/docker/ansible/templates/compose-modules/wallabag.yml
  .archive/docker/ansible/templates/compose-modules/watchtower.yml
  docker/ansible/templates/compose/compose.yml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Ignore files in archive dir
  .github/renovate.json5
Labels: area/github

Renovate: ignore kubernetes folder as I'm currently running Docker only
  .github/renovate.json5
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

[renovate] Skip bootstrap folder
  .github/renovate.json5
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add site to blacklist
  .lycheeignore
Labels: none

Fix url
  .lycheeignore
Labels: none

Add Beaver Habits & DB backup to Az Storage
  .archive/docker/ansible/templates/compose-modules/authelia.yml
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
  docker/ansible/inventory/group_vars/external/secrets.sops.yml
  docker/ansible/tasks/gather-frontend-networks.yaml
  docker/ansible/templates/compose-modules/beaverhabits.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
  docker/ansible/templates/env/env.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker
