Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Implement outline docs
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
  docker/ansible/templates/compose-modules/outline.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/outline/docker.env
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
  docker/ansible/templates/env/env.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Transform traefik forward auth
  docker/ansible/templates/compose-modules/traefik-forward-auth.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix multiple redirects error
  docker/ansible/templates/compose-modules/traefik-forward-auth.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix outline lookup error
  docker/ansible/templates/compose-modules/outline.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix outline icon
  docker/ansible/templates/compose-modules/outline.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix openspeedtest icon
  docker/ansible/templates/compose-modules/openspeedtest.yml
Labels: area/docker

Update change-detection icon
  docker/ansible/templates/compose-modules/change-detection.yml
Labels: area/docker

Update drawio icon
  docker/ansible/templates/compose-modules/drawio.yml
Labels: area/docker

Update excalidraw icon
  docker/ansible/templates/compose-modules/excalidraw.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix logos
  docker/ansible/templates/compose-modules/change-detection.yml
  docker/ansible/templates/compose-modules/drawio.yml
  docker/ansible/templates/compose-modules/openspeedtest.yml
Labels: area/docker

Initial try
  scripts/phased-restart.sh
Labels: none

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Working cluster ✅
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/webhooks/app/github/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/bootstrap/talos/talconfig.yaml
  kubernetes/bootstrap/talos/talsecret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

Set letsencrypt production cert 📝
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/webhooks/app/github/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/apps/network/ingress-nginx/certificates/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

Fix cloudflare tunnel
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/flux-system/webhooks/app/github/secret.sops.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

Add forwarding zone for Kubernetes
  docker/ansible/templates/data/common/unbound/forward-records.conf
Labels: area/docker

Move echo-server to internal ingress
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

Reorder config
  docker/ansible/templates/data/common/unbound/forward-records.conf
Labels: area/docker

Replace with jinja template
  docker/ansible/templates/data/common/unbound/forward-records.conf.j2
Labels: area/docker

Add private domain to Unbound
  docker/ansible/templates/data/common/unbound/forward-records.conf.j2
Labels: area/docker

Add homepage dashboard
  kubernetes/apps/dashboard/homepage/app/configmap.yaml
  kubernetes/apps/dashboard/homepage/app/helmrelease.yaml
  kubernetes/apps/dashboard/homepage/app/kustomization.yaml
  kubernetes/apps/dashboard/homepage/app/secret.sops.yaml
  kubernetes/apps/dashboard/homepage/ks.yaml
  kubernetes/apps/dashboard/kustomization.yaml
  kubernetes/apps/dashboard/namespace.yaml
Labels: area/kubernetes

Fix target namespace
  kubernetes/apps/dashboard/homepage/ks.yaml
Labels: area/kubernetes

Replace secret with actual values
  kubernetes/apps/dashboard/homepage/app/secret.sops.yaml
Labels: area/kubernetes

Add my bookmarks
  kubernetes/apps/dashboard/homepage/app/configmap.yaml
Labels: area/kubernetes

Add homepage annotations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

Reorder bookmarks
  kubernetes/apps/dashboard/homepage/app/configmap.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
