Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Reset playbook to all hosts
  docker/ansible/playbooks/new-server.yaml
Labels: area/docker

Add hardware list to readme
  README.md
Labels: none

Add broken link check
  .github/workflows/broken-link-check.yaml
Labels: area/github

Add issue permissions + ignore file for link check
  .github/workflows/broken-link-check.yaml
  .lycheeignore
Labels: area/github

Add predicted power usage to kromgo
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

Don't expose Kromgo just yet
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

Add basic mongodb config
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
  kubernetes/apps/database/mongodb/app/kustomization.yaml
  kubernetes/apps/database/mongodb/app/pvc.yaml
  kubernetes/apps/database/mongodb/ks.yaml
Labels: area/kubernetes

Fix kromgo gatus probe
  kubernetes/apps/observability/kromgo/app/kustomization.yaml
Labels: area/kubernetes

Just provision pvc
  kubernetes/apps/database/mongodb/app/pvc.yaml
Labels: area/kubernetes

Fixed version for mongodb
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
Labels: area/kubernetes

Fix version tag
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
Labels: area/kubernetes

Add Proxmox CPU architecture requirement RE: https://github.com/bitnami/containers/issues/53407
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
Labels: area/kubernetes

Remove custom failure threshold
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Add mongosh to brewfile
  .taskfiles/workstation/Brewfile
Labels: area/taskfile

mongosh is also installed in the container -- skip
  .taskfiles/workstation/Brewfile
Labels: area/taskfile

Add mongodb secret to create database
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
  kubernetes/apps/database/mongodb/app/kustomization.yaml
  kubernetes/apps/database/mongodb/app/secret.sops.yaml
Labels: area/kubernetes

Convert to string
  kubernetes/apps/database/mongodb/app/secret.sops.yaml
Labels: area/kubernetes

Set mongo resources
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Remove db prov for now
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
  kubernetes/apps/database/mongodb/app/secret.sops.yaml
Labels: area/kubernetes

Implement goldilocks
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
  kubernetes/apps/observability/goldilocks/app/kustomization.yaml
  kubernetes/apps/observability/goldilocks/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/repositories/helm/fairwinds.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Fix ref
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

Add app name to gethomepage annotation
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

Enable goldilocks on productivity ns
  kubernetes/apps/productivity/namespace.yaml
Labels: area/kubernetes

Enable goldilocks on db ns
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

Remove goldilocks labels and raise issue
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/productivity/namespace.yaml
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Potential fix for goldilock labels not applying #1042
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/productivity/namespace.yaml
Labels: area/kubernetes

Expand goldilocks label to more ns
  kubernetes/apps/dashboard/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/security/namespace.yaml
Labels: area/kubernetes

Add Goldilock limits
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Goldilocks
  kubernetes/apps/security/oauth2-proxy/app/helmrelease.yaml
Labels: area/kubernetes

Do not preset resources
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
Labels: area/kubernetes

Remove resource preset
  kubernetes/apps/database/mongodb/app/helmrelease.yaml
Labels: area/kubernetes

Wrap prune property in quotes
  kubernetes/apps/productivity/namespace.yaml
Labels: area/kubernetes

Allow running kubeconform pipe manually
  .github/workflows/kubeconform.yaml
Labels: area/github

Add custom records to unbound
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Add legacy DNS records for Docker
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add Docker External IP secret
  kubernetes/apps/network/unbound/app/resources/a-records.conf
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

Revert config for now
  kubernetes/apps/network/unbound/app/resources/a-records.conf
Labels: area/kubernetes

Check if translation works + add healthcheck
  kubernetes/apps/network/unbound/app/resources/a-records.conf
  kubernetes/apps/network/unbound/ks.yaml
Labels: area/kubernetes
