Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Potential fix for resource not accessible by integration
  .github/workflows/label-sync.yaml
Labels: area/github

Fix Grafana SHA hash
  docker/ansible/templates/compose-modules/grafana.yml
Labels: area/docker

Fix note
  docker/ansible/templates/compose-modules/grafana.yml
Labels: area/docker

Restore ansible/galaxy config in renovate since we need it for Docker hosts
  .github/renovate.json5
Labels: area/github

Update whoogle logo
  docker/ansible/templates/compose-modules/whoogle.yml
Labels: area/docker

Add test pipeline for validating images
  .github/workflows/validate-image.yml
Labels: area/github

Add image validation step
  .github/workflows/validate-image.yml
Labels: area/github

Add if condition to check if we need to run
  .github/workflows/validate-image.yml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix image validation script
  .github/workflows/validate-image.yml
Labels: area/github

Update trivy image validation
  .github/workflows/validate-image.yml
Labels: area/github

Fix variable
  .github/workflows/validate-image.yml
Labels: area/github

Fix typo
  .github/workflows/validate-image.yml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add PR comment
  .github/workflows/validate-image.yml
Labels: area/github

Fix PR type
  .github/workflows/validate-image.yml
Labels: area/github

Archive trivy pipeline
  .github/workflows/trivy.yaml.archive
Labels: area/github

Add auto PR closure + re-add Trivy config
  .github/workflows/trivy.yaml
  .github/workflows/validate-image.yml
Labels: area/github

Rename matrix job
  .github/workflows/validate-image.yml
Labels: area/github

Fix github close command
  .github/workflows/validate-image.yml
Labels: area/github

Use commit hash + permissions on the job level
  .github/workflows/trivy.yaml
  .github/workflows/validate-image.yml
Labels: area/github

Fix auto merge for gh actions
  .github/renovate.json5
Labels: area/github

Fix if condition on pipeline
  .github/workflows/update-docker-info.yml
Labels: area/github

Fix condition for renovate
  .github/workflows/lint.yaml
  .github/workflows/update-docker-info.yml
Labels: area/github

Fix if condition
  .github/workflows/lint.yaml
  .github/workflows/update-docker-info.yml
Labels: area/github

Use ubuntu-22-04 and add docker scan to Trivy
  .github/workflows/devcontainer.yaml
  .github/workflows/e2e.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-docker.yaml
  .github/workflows/todo-to-issue.yml
  .github/workflows/trivy.yaml
  .github/workflows/update-docker-info.yml
  .github/workflows/validate-image.yml
Labels: area/github

Fix category
  .github/workflows/trivy.yaml
  docker/ansible/templates/compose-modules/adguard.yml
Labels: area/docker, area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix category to highlight it's the GH action runner
  .github/workflows/trivy.yaml
Labels: area/github

Echo the image ID used
  .github/workflows/trivy.yaml
Labels: area/github

Skip running FS scan when not scheduled or invoked manually
  .github/workflows/trivy.yaml
Labels: area/github

Only run Trivy on a schedule
  .github/workflows/trivy.yaml
  .github/workflows/validate-image.yml
Labels: area/github

Remove category as it removes traceability to docker file
  .github/workflows/trivy.yaml
  .github/workflows/validate-image.yml
Labels: area/github

Reintroduce category
  .github/workflows/trivy.yaml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Remove category as it will cause security alerts to trip
  .github/workflows/trivy.yaml
Labels: area/github

Add two new useful URLs
  docker/ansible/templates/data/common/homepage/bookmarks.yaml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
