Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

Comsetic
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Rename controllers back
  kubernetes/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Retain persistence
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Rename controller
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Enable oauth
  kubernetes/apps/media/immich/app/secret.sops.yaml
  kubernetes/apps/media/immich/app/server/config/immich-config.json
Labels: area/kubernetes

Change volume name
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Use main for containers too
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Move secrets to separate file to ensure configMapGenerator gets them
  kubernetes/apps/media/immich/app/configmap.yaml
  kubernetes/apps/media/immich/app/secret.sops.yaml
  kubernetes/apps/media/immich/app/server/kustomization.yaml
  kubernetes/apps/media/immich/app/server/secret.sops.yaml
Labels: area/kubernetes

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Disable oauth again to fix the configmap issue first
  kubernetes/apps/media/immich/app/server/config/immich-config.json
Labels: area/kubernetes

Fix service names
  kubernetes/apps/media/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

Create test config map
  kubernetes/apps/media/immich/app/kustomization.yaml
  kubernetes/apps/media/immich/app/secret.sops.yaml
  kubernetes/apps/media/immich/app/server/secret.sops.yaml
Labels: area/kubernetes

Add test var
  kubernetes/apps/media/immich/app/configmap.yaml
  kubernetes/apps/media/immich/app/kustomization.yaml
Labels: area/kubernetes

Test secret replacement
  kubernetes/apps/network/adguard/app/resources/AdGuardHome.yaml
Labels: area/kubernetes

Remove test
  kubernetes/apps/network/adguard/app/resources/AdGuardHome.yaml
Labels: area/kubernetes

Enable substitute
  kubernetes/apps/media/immich/app/server/kustomization.yaml
Labels: area/kubernetes

Remove test
  kubernetes/apps/media/immich/app/configmap.yaml
Labels: area/kubernetes

Test
  kubernetes/apps/media/immich/app/server/config/immich-config.json
Labels: area/kubernetes

Try different substitution
  kubernetes/apps/media/immich/app/server/config/immich-config.json
Labels: area/kubernetes

Remove dummy secret
  kubernetes/apps/media/immich/app/server/kustomization.yaml
  kubernetes/apps/media/immich/app/server/secret.sops.yaml
Labels: area/kubernetes

Remove immich configmap
  kubernetes/apps/media/immich/app/configmap.yaml
  kubernetes/apps/media/immich/app/kustomization.yaml
  kubernetes/apps/media/immich/app/server/kustomization.yaml
Labels: area/kubernetes

Fix name
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Remove empty dir
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Replace seprate file with configmap to leverage helm templating
  kubernetes/apps/media/immich/app/server/config/immich-config.json
  kubernetes/apps/media/immich/app/server/configmap.yaml
  kubernetes/apps/media/immich/app/server/kustomization.yaml
Labels: area/kubernetes

Fix icon
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Stop foldingathome before updating docker to increase performance
  docker/ansible/playbooks/update-docker.yaml
Labels: area/docker

Remove Oauth requirement on gitops
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Temp disable sentinel
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Re-enable sentinel
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Run Docker pipelines only on Docker dir
  .github/workflows/test-docker.yaml
  .github/workflows/update-docker-info.yml
  .github/workflows/validate-image.yml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Remove oauth from Gatus dashboard
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Replace seprate file with configmap to leverage helm templating"
  kubernetes/apps/media/immich/app/server/config/immich-config.json
  kubernetes/apps/media/immich/app/server/configmap.yaml
  kubernetes/apps/media/immich/app/server/kustomization.yaml
Labels: area/kubernetes

Add sidecar sync to immich
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Add serviceaccount for sidecar
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Add permissions to SA
  kubernetes/apps/media/immich/app/server/kustomization.yaml
  kubernetes/apps/media/immich/app/server/rbac.yaml
Labels: area/kubernetes

Fix path
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Test var substitution
  kubernetes/apps/media/immich/app/server/config/immich-config.json
Labels: area/kubernetes

Expose secrets to init container
  kubernetes/apps/media/immich/app/server/config/immich-config.json
  kubernetes/apps/media/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

Add new samba server
  docker/ansible/inventory/group_vars/all/common.yml
  docker/ansible/inventory/hosts.yaml
  docker/ansible/playbooks/new-server.yaml
  docker/ansible/tasks/configure-ufw.yaml
  docker/ansible/tasks/new-server.yaml
Labels: area/docker

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
