Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Modify validate-image workflow for manual dispatch
  .github/workflows/validate-image.yml
Labels: area/github

Retire dozzle as I don't use it
  .archive/docker/ansible/templates/compose-modules/dozzle.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Use Plex hardware acceleration
  docker/ansible/templates/compose-modules/plex.yml
Labels: area/docker

Add transcoding for immich
  docker/ansible/templates/compose-modules/immich.yml
  docker/ansible/templates/data/common/immich/hwaccel.transcoding.yml
Labels: area/docker

Fix systemd-resolv still claiming port :53 on new DNS servers
  docker/ansible/tasks/configure-dns-server.yaml
Labels: area/docker

Prep for phase out SVLMGMT - only need to transfer unifi
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
  docker/ansible/inventory/group_vars/infra/secrets.sops.yml
  docker/ansible/inventory/hosts.yaml
  docker/ansible/tasks/configure-ufw.yaml
  docker/ansible/templates/compose-modules/unifi.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/homepage/services.yaml.j2
  docker/ansible/templates/data/common/mongodb/init-mongo.sh
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
  docker/ansible/templates/data/svlmgmt/alertmanager/config.yml.j2
  docker/ansible/templates/data/svlmgmt/mongodb/init-mongo-unifi-db.js
  docker/ansible/templates/env/env.j2
Labels: area/docker

Phase out old management server
  docker/ansible/inventory/group_vars/docker/secrets.sops.yml
  docker/ansible/inventory/hosts.yaml
  docker/ansible/tasks/configure-dns-server.yaml
  docker/ansible/tasks/configure-ufw.yaml
  docker/ansible/tasks/load-credentials.yaml
  docker/ansible/templates/compose-modules/homepage.yml.j2
  docker/ansible/templates/compose-modules/traefik-proxy.yml.j2
  docker/ansible/templates/compose-modules/unifi.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/mongodb/init-mongo.sh
  docker/ansible/templates/data/common/traefik/rules/middlewares-chains.yml
  docker/ansible/templates/data/common/traefik/rules/middlewares.yml.j2
  docker/ansible/templates/data/common/traefik/traefik.yml.j2
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
  docker/ansible/templates/env/env.j2
Labels: area/docker

Fix backups across containers
  docker/ansible/tasks/mount-smb-shares.yaml
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/plex.yml
  docker/ansible/templates/compose-modules/unifi.yml
Labels: area/docker

Fix backup path
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add Az VM creation script for talos
  .gitignore
  .sops.yaml
  .taskfiles/talos/Taskfile.yaml
  scripts/create-az-vm.sh
  scripts/secrets.sops.yml
Labels: area/taskfile

talos - trying to get the sample to work. Almost there
  .gitignore
  scripts/create-az-vm.sh
Labels: none

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Improve immich performance
  docker/ansible/templates/compose-modules/immich.yml
Labels: area/docker

Add Unifi volume backup + new middleware for Immich
  docker/ansible/templates/compose-modules/unifi.yml
  docker/ansible/templates/data/common/traefik/rules/middlewares-chains.yml
  docker/ansible/templates/data/common/traefik/rules/middlewares.yml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Promote new middleware layer
  docker/ansible/templates/compose-modules/immich.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Increase shm_size for postgres + introduce pgautoupgrade container
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/immich.yml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Upgrade to pg 17.6
  docker/ansible/templates/compose-modules/gatus.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Implement pgautoupgrade across workloads
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Make db depending on upgrade
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Fix bool error
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
Labels: area/docker

Fix test
  tests/test_compose_files.py
Labels: none

Fix test with regex
  tests/test_compose_files.py
Labels: none
