Repository DevSecNinja/home, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docker, area/github, area/kubernetes, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

Archive some unused services
  .archive/docker/ansible/templates/compose-modules/code-server.yml
  .archive/docker/ansible/templates/compose-modules/home-assistant.yml
  .archive/docker/ansible/templates/compose-modules/nextcloud.yml
Labels: none

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Archive bitwarden
  .archive/docker/ansible/templates/compose-modules/bitwarden.yml
Labels: none

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Speed up VS Code search
  .vscode/settings.json
Labels: none

Upgrade actions/checkout to v5
  .github/workflows/e2e.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/test-docker.yaml
  .github/workflows/todo-to-issue.yml
  .github/workflows/trivy.yaml
  .github/workflows/update-docker-info.yml
  .github/workflows/validate-image.yml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Fix typo
  .github/workflows/todo-to-issue.yml
Labels: area/github

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Revert "feat(container)!: Update image docker.io/library/postgres to v17"
  docker/ansible/templates/compose-modules/gatus.yml
  docker/ansible/templates/compose-modules/hoppscotch.yml
  docker/ansible/templates/compose-modules/n8n.yml
  docker/ansible/templates/compose-modules/outline.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Revert "feat(container)!: Update image mongo to v8"
  docker/ansible/templates/compose-modules/unifi.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Add documentation for mongodb upgrades, fixes #1648
  docker/README.md
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Include the new config needed for Traefik forward auth v4
  docker/ansible/templates/data/common/traefik-forward-auth/config.yaml.j2
Labels: area/docker

Implement v4 of Traefik Forward Auth
  docker/ansible/templates/compose-modules/traefik-forward-auth.yml
  docker/ansible/templates/data/common/traefik-forward-auth/config.yaml.j2
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Revert postgres update for now
  docker/ansible/templates/compose-modules/immich.yml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Update Docker containers overview doc
  docker/docker_containers.md
  docker/docker_containers.yaml
Labels: area/docker

Phase out outline as I migrated to Apple Notes
  .archive/docker/ansible/templates/compose-modules/outline.yml
  docker/ansible/templates/compose/compose.yml.j2
  docker/ansible/templates/data/common/gatus/config.yaml
  docker/ansible/templates/data/common/unbound/a-records.conf.j2
Labels: area/docker
